<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alert %>

<%
function checkUserHasTakenQuiz(quiz) {
	for (var i = 0; i < quiz.takenByUsers.length; i++) {
		if (quiz.takenByUsers[i].id.equals(userId)) {
			return false;
		}
	}
	return true;
}
%>

<div class="container text-center">
	<a class="btn btn-info" href="/quiz/add">
		Create Quiz
	</a>
	<p></p>

	<!-- Display details for student profile -->
	<% if (!isSupport) { %>

		<div class="container">
			<div class="col-md-10 offset-md-1 backdrop myShadow">
				<ul class="list-group">
					<% allQuizzes.forEach(function(quiz) { %>
						<li class="list-group-item">
							<img class="rounded-circle float-left myShadow" src="<%= quiz.author.avatar %>" height="57px" width="57px">
							<div class="float-center">
								<h3>
									<%= quiz.title %> by <%= quiz.author.name %>
								</h3>
							</div>
							<% if(!checkUserHasTakenQuiz(quiz)){ %>
								<a class="btn btn-success" href="/quiz/viewResult/<%= quiz._id%>">
									View Results
								</a>
							<% } else { %>
								<a class="btn btn-warning" href="/quiz/take/<%= quiz._id%>">
									Take Quiz
								</a>
							<% } %>
						</li>
					<% }); %>
				</ul>
			</div>
		</div>
	<% } %>
	
</div>


<% include ../partials/footer %>